html,
body {
  margin: 0;
  font-family: raleway, sans-serif;
  background: #eee;
  width: 100%;
  height: 100%;
  text-align: center !important;
  position: relative;
}
header {
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.space {
  height: 50px;
}
button {
  text-decoration: none;
  transition: color 1s, border-color 1s;
}
button:hover {
  text-decoration: none;
  color: #5cc1a9 !important;
  cursor: pointer;
}
button:focus {
  outline: 0 !important;
}
.top_white {
  height: 65px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
  text-align: left;
}
#name {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  transition: top 1s;
  position: fixed;
  top: -50px;
}
.menu {
  padding: 12px;
  position: relative;
  z-index: 2;
}
.menu button {
  font-size: 15px;
  padding: 10px 30px;
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(92,193,169,0);
  color: #666;
  background: rgba(0,0,0,0);
}
.menu button:hover {
  border-color: #5cc1a9;
}
.menu_highlight {
  border-style: solid !important;
  border-color: #5cc1a9 !important;
  color: #5cc1a9 !important;
}
.fixed {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.things {
  height: 2000px;
  text-align: left;
  padding: 5%;
  position: relative;
  z-index: 0;
  text-align: center;
}
.thing {
  margin: 0 auto;
  width: 100%;
  padding: 5%;
  margin-top: 10%;
  position: relative;
}
.thing :hover .descript {
  max-height: 40%;
}
.thing_img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.descript {
  background: rgba(255,255,255,0.8);
  color: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 0px;
  overflow: hidden;
  font-size: 120%;
  transition-property: max-height;
  transition-duration: 1s;
}
