html,
body {
  margin: 0;
  font-family: raleway, sans-serif;
  background: #eee;
  width: 100%;
  height: 100%;
  text-align: center !important;
}
header {
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  cursor: default !important;
  position: relative;
  z-index: 1;
}
.space {
  height: 50px;
}
button {
  text-decoration: none;
  transition: color 1s, border-color 1s;
}
button:hover {
  text-decoration: none;
  color: #5cc1a9 !important;
  cursor: link;
}
button:focus {
  outline: 0 !important;
}
.top_white {
  height: 60px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  text-align: left;
}
#name {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  transition: top 1s;
  position: fixed;
  top: -50px;
}
.menu {
  padding: 12px;
  position: relative;
  z-index: 1;
}
.menu button {
  font-size: 15px;
  padding: 10px 30px;
  border-style: dotted;
  border-width: 1px;
  border-color: rgba(92,193,169,0);
  color: #666;
  background: rgba(0,0,0,0);
}
.menu button:hover {
  border-color: #5cc1a9;
}
.menu_highlight {
  border-style: solid !important;
  border-color: #5cc1a9 !important;
  color: #5cc1a9 !important;
}
.fixed {
  top: 0;
  width: 100%;
  position: fixed;
}
.container {
  height: 2000px;
}