html{
  text-align: center;
}

body{
  background: #ccf;
}

.outerbox{
  background: #eee;
  border: 1px solid #888;
  margin-top: 5%;
  width: 200px;
  padding: 1%;
  margin: 5% auto;
}

.display{
  text-align: right;
  border: 1px solid #888;
  width: 163px !important;
  padding: 2px;
  margin: 5px;
  margin-bottom: 10px
}



button{
  background: #eee;
  border: 1px solid #BBB !important ;
  width: 38px;
  height: 38px;
  margin-bottom: 3px !important;
}
