


body,
html {
    width: 100%;
    height: 100%;
    
}

.topnav{   
    background: #444;
}

.topnav a{
  font-size: 16px;
  font-family: raleway, sans-serif;
  color: #ddd !important;
  font-weight: 600;
  transition: background, .3s;
}

.topnav a:hover{
  background: #000 !important;
}

.home{
  height: 100%;
  padding-top: 15%;
  background: url('https://upload.wikimedia.org/wikipedia/commons/d/da/Shades_of_blue.jpg') center fixed;
  background-size: cover;  
}

.home h1{
  font-size: 40px;
  font-family: raleway, sans-serif;
  font-weight: 700;
  text-align: center;
  color:#222;
}


small{
  color: #ccc !important;
}

.int-border{
  width: 550px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,1);
}

.btn-container{
  text-align: center;
}

.btn-container .btn{
  background: #ddd;
  border-radius:0px;
  color: #000;
  font-family: 'Raleway';
  cursor: pointer;
  padding: 2%;
  transition: 1s;
  padding: 1.5%;
}

.btn-container .btn:hover{
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.bottom{
  position: absolute;
  left:0px;
  bottom: 4%;
  width:100%;
  text-align:center;
}

.dwn-btn{
  border: none;
  border-radius: 50%;
  background: rgba(0,0,0,0);
  transition: 2s;
}

.dwn-btn:hover{
  background: #444;
  color: #DDD;
}

.about{
  height: 100%;
  padding-top: 12%;
  background: url('http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg') center fixed;
  background-size: cover;
  font-size: 22px;
  color: #ccc;
  
}

.portrait{
  height:400px;
}

.portfolio{
  height:100%;
  padding-top: 8%;
  background: #999;
  text-align: center;
  font-family: raleway;
}

.thumb-cont{
  padding-top:5%
}

.contact{
  height: 100%;
}

.contact .container-fluid{
  padding: 8%;
}

.right-align{
  text-align: left;
  padding-top:1%;

}

.right-align .btn{
  width: 150px;
}

.foot{
  background:#000;
  padding: 3%;
  text-align: center;
}
